html {
    background-image: url('https://pbs.twimg.com/media/ErqwWzTW4AErlW2.png'); 
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 22px;
    text-align: center;
    overflow:   scroll;
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
    
}  

*,
*:before,
*:after {
  box-sizing: inherit;
}

div.text-box {
    height:200px;
    border-color: black;
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    max-height:100%
    ;overflow:auto;
    border:1px
    
}





audio {
    top: 0; 
    position: fixed; 
    right: 0; 
}
audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-panel {
     background-color: rgb(255, 255, 255);
     color: rgb(255, 255, 255);
     }
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


html.dark-mode {
    filter: invert(100%);
    img {
      filter: invert(100%);
    color: #222;
    background-color: #fff;
    height: 100%;
}
  
  
  /*
   * To make things look better
   */
  .dark-mode-switch {
    position: fixed;
    left: 1rem;
    top: 1rem;
    padding: .5rem 1rem;
    background-color: #ddd;
    float: left;
    max-width: 40%;
    margin-right: 2em;
    padding: 1em 2em;
    max-width: 40em;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }